body {
	font-family: 'Robotto', sans-serif;
}

h2 {
	text-align: center;
	color: #3167C2;
	font-size: 25px;
	margin-top: 50px;
}

.normal-text {
	font-size: 14px;
}

.bold-text {
	font-weight: bold;
}

.small-text {
	font-size: 13px;
}

.extra-small-text {
	font-size: 12px;
}

.text-white {
	color: white;
}

.text-black {
	color: #333;
}

.text-grey {
	color: #888;
}

.text-medium-light-grey {
	color: #aaa;
}

.text-light-grey {
	color: #bbb;
}

.text-blue {
	color: #3167C2;
}

.text-green {
	color: #05AA25
}

.text-length {
	font-size: 12px;
}

.no-padding {
	padding: 0px;
}

.header {
	width: 100%;
	background-color: red;
	background-image: linear-gradient(to right, #3149AB, #479BFD);
}

.brand {
	width: 200px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.search span {
	font-family: 'Robotto', sans-serif;
}

.search {
	color: white;
	margin-right: 30px;
	font-size: 15px;
	opacity: 60%;
}

.search:hover {
	opacity: 100%;
	color: white;
}

.profile-user {
	width:47px;
	border-radius: 200px;
	border: 1px solid white;
}

.container-margin {
	width: 90%;
	margin: auto;
}

.content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.preview-1 {
	margin-top: 50px;
}

.preview-1-img {
	width: 100%;
	margin-bottom: 30px;
}

.dashed-box {
	border: 1px solid #ccc;
	border-style: dashed;
	border-radius: 4px;
}

.dashed-box:hover {
	background-color: #f8f8f8;
}

.border-box {
	border: 1px solid #e8e8e8;
	border-radius: 8px;
	padding: 20px;
	padding-bottom: 10px;
	background-color: white;
}

.login-box {
	border-radius: 8px;
	padding: 20px;
	padding-bottom: 10px;
	background-color: white;
	box-shadow: 0px 5px 50px #E2EAF2;
}

.add-new-box {
	height: 82px;
}

.add-new-box img {
	height: 45px;
}

.text-input {
  	width: 100%;
  	padding: 8px;
  	padding-left: 12px;
  	margin-bottom: 8px;
  	margin-top: 4px;
  	box-sizing: border-box;
  	border: 1px solid #e8e8e8;
  	border-radius: 4px;
  	color: #333;
 }

 .text-input:focus {
 	outline: 2px solid #4786FD;
 	background-color: #f8f8f8;
 }

 .text-input-value {
  	width: 100%;
  	padding: 8px;
  	padding-left: 12px;
  	margin-bottom: 18px;
  	margin-top: 4px;
  	box-sizing: border-box;
  	border: 1px solid #e8e8e8;
  	border-radius: 4px;
  	color: #333;
  	background-color: #f8f8f8;
 }

 .email-input {
 	width: 100%;
  	padding: 12px;
  	padding-left: 12px;
  	margin-bottom: 18px;
  	margin-top: 4px;
  	box-sizing: border-box;
  	border-radius: 4px;
  	border: none;
  	background-color: #f3f3f3;
  	color: #333;
 }

 .email-input:focus {
 	outline: none;
 }

.text-input:hover {
 	background-color: #f8f8f8;
 }

.autofill-text {
 	width: 100%;
  	padding: 8px;
  	padding-left: 12px;
  	margin-bottom: 18px;
  	margin-top: 4px;
  	box-sizing: border-box;
  	border-radius: 4px;
  	background-color: #e8e8e8;
 }

.preview-1-form {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.preview-1-img:hover {
	outline: 2px solid #4786FD;
}

.btn {
	padding-left: 20px;
	padding-right: 20px;
	height: 30px;
	border-radius: 4px;
	border: none;
	font-size: 14px;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.mt-7 {
	margin-top: 70px;
}

.mb-7 {
	margin-bottom: 70px;
}

.gradient-btn {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	color: white;
	border-radius: 4px;
}

.gradient-btn:hover {
	background-image: linear-gradient(to right, #152D8B, #479BFD);
}

.border-btn {
	background-color: transparent;
	border: 1px solid #3167C2;
	color: #3167C2;
	height: 31px;
	font-size: 13px;
}

.border-btn:hover {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	color: white;
}

.next-btn {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
}

.back-btn {
	background-color: #ccc;
}

.back-btn:hover {
	background-color: #bbb;
}

.back-btn:active {
	background-color: red;
}

.italic {
	text-align: center;
}

textarea {
  	width: 100%;
 	height: 140px;
 	padding: 12px 20px;
 	border: 1px solid #e8e8e8;
 	border-radius: 4px;
 	font-size: 14px;
 	color: #333;
}

textarea::placeholder {
	color: #bbb;
}

textarea:hover {
	background-color: #f8f8f8;
}

textarea:focus {
	outline: 2px solid #4786FD;
	background-color: #f8f8f8;
}

.upload-image {
	border: 1px solid #ccc;
	border-style: dashed;
	border-radius: 4px;
	background-color: #f8f8f8;
	height: 160px;
	text-decoration: none;
}

.upload-icon {
	height: 50px;
}

.link-input {
	border: 1px solid #ccc;
	border-style: dashed;
	border-radius: 4px;
	height: 41px;
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 14px;
	color: #333;
}

.link-input:hover {
	background-color: #f8f8f8;
}

 .link-input:focus {
 	outline: 2px solid #4786FD;
 	background-color: #f8f8f8;
 }

.link-input::placeholder {
    text-align: center;
    color: #bbb;
    font-size: 14px;
}


.project-menu {
	padding-right: 85px;
}

.project-name {
	margin-bottom: 10px;
}

.project-name img {
	height: 40px;
	margin-right: 15px;
}

.projcodename p {
	font-size: 17px;
	font-weight: bold;
	color: #333;
}

.menu-project-logo {
	border: 1px solid #ddd;
	border-radius: 90px;
}

.menu-box {
	border-radius: 7px;
	box-shadow: 0px 3px 12px #E2EAF2;
	padding-top: 13px;
	padding-bottom: 13px;
	margin-bottom: 15px;
	color: #3167C2;
}

.menu-box:hover {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	color: white;
	text-decoration: none;
}

.menu-label {
	font-size: 14px;
	font-weight: bold; 
}

.progress {
	border-radius: 200px;
	border: 2px solid #3167C2;
	background-color: transparent;
	height: 31px;
	width: 31px;
}

.delete-icon {
	opacity: 60%;
	height: 18px;
}

.delete-icon:hover {
	opacity: 100%;
	height: 20px;
}


.email-grant-btn {
	height: 44px;
	width: 100%;
	background-color: #05AA25;
}

.email-grant-btn:hover {
	background-color: #00931D;
}

.email-avatar {
	height: 60px;
	border: 1px solid #eee;
	border-radius: 200px;
}

.remove-btn {
	background-color: #FF5252;
	height: 30px;
	font-size: 13px;
}

.remove-btn:hover {
	background-color: #F23939;
}

.remove-btn:active {
	background-color: #D31F1F;
}

.team-profile {
	border: 1px solid #e8e8e8; 
	border-radius: 8px;
	margin-top: 20px;
}

.team-profile:hover {
	background-color: #f8f8f8;
}

.team-profile-image {
	height: 65px; 
	border-radius: 200px;
	border: 1px solid #eee;
}

.team-profile-add:hover {
	border: 2px solid #477FFD;
}

.team-profile input {
	font-size: 14px;
}

.team-profile input::placeholder {
	font-size: 14px;
	color: #bbb;
}

.add-team {
	height: 322px;
	margin-top: 20px;
	border: 1px solid #e8e8e8; 
}

.add-team:hover {
	background-color: #f8f8f8;
}

.radio-box {
	border-radius: 5px;
	background-color: #f2f2f2;
}

.radio-check {
	background-color: #f3f3f3;
}

.title-line {
	width: 60px;
	background-color: #3167C2;
	height: 1.5px;
}

.title-line-white {
	width: 60px;
	background-color: white;
	height: 1.5px;
}

h1 {
	font-size: 35px;
	font-weight: bold;
	color: #333;
}


.project-img {
	width: 100%;
	border-radius: 10px;
	display: inline;
    position: relative;
    margin-bottom: 20px;
}

.all-project-img {
	width: 100%;
	display: inline;
    position: relative;
    margin-bottom: 20px;
    border-radius: 7px 7px 0px 0px;
}

.heart-img {
	width: 25px;
	margin-top: 15px;
    margin-right: 35px;
    position: absolute;
    right: 0;
}


.project-bio {
	padding-top: 17px;
	padding-right: 20px;
	padding-left: 20px;
	box-shadow: 0px 3px 30px #E2EAF2;
	border-radius: 10px;
	background-color: white;
	height: 100%;
}

.project-bio img {
	width: 100%;
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.upload-confirm {
	opacity: 60%;
	height: 19px;
}

.upload-confirm:hover {
	opacity: 100%;
	height: 21px;
}

.bonus-box {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	border-radius: 8px;
	padding: 9px;
	text-align: center;
	width: 65%;
	margin-top: -20px;
}


.bonus-box-2 {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	border-radius: 60px;
	padding: 6px;
	text-align: center;
	width: 60%;
	margin-top: -18px;
}

.vote {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	height: 500px;
}

.feed-box {
	background-color: white;
	border-radius: 8px;
}

.feed-box:hover {
	box-shadow: 0px 10px 99px #DFE0E3;
}

.project-logo-feed {
	width: 70%;
	border: 1px solid #ddd;
	border-radius: 90px;
}

.project-logo-feedpage {
	border: 1px solid #ddd;
	border-radius: 90px;
	width: 100%;
}

.share-btn {
	font-size: 22px;
	color: #bbb;
}

.share-btn:hover {
	color: #3167C2;
}

.feed-img {
	width: 100%;
}

.footer {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
}

.footer-menu span {
	opacity: 30%;
}

.footer-menu a {
	margin-left: 20px;
	margin-right: 20px;
	color: white;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
	border-radius: 20rem; 
	border: 1px solid #ccc;
}

.toggle.ios .toggle-handle { 
	border-radius: 20rem; 
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	left: -150px;
    top: 64px;
    padding: 15px 20px;
    min-width: 260px;
    border-radius: 5px;
    text-align: center;
}

.dropdown a:hover {background-color: #f8f8f8;}

.show {display: block;}

.dropdown:hover .dropdown-content {
 display: block;
}

.dropdown-content hr {
	margin: 0px 0px;
	cursor: pointer;
}

.menu-item:hover {
	color: #3167C2;
}

.layer {
	position: absolute !important;
    width: 100%;
    height: 100%;
    right: 0;
    top: 20px;
}

.prj-logo {
	border: 1px solid #ddd;
	border-radius: 90px;
}

.menu-header div {
	height: 50px;
	display: block;
	font-size: 15px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
	color: #666;
}

.menu-header div:hover {
	background-color: #3167C2;
	color: white;
}

.wallet-box {
	border: 2px solid #e8e8e8;
	border-radius: 8px;
	padding: 15px;
	margin-bottom: 13px;
}

.participation-box {
	border: 2px solid #e8e8e8;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 13px;
}

.participation-box:hover {
	border: 2px solid #3167C2;
}

.wallet-box:hover {
	border: 2px solid #3167C2;
}

.wallet-logo {
	width: 100%;
}

.wallet-btn {
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	color: #3167C2;
	background-color: white;
	height: 32px;
}

.wallet-btn:hover {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	color: white;
	border: transparent;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.td-img {
	width: 60px;
	border-radius: 200px;
	border: 1px solid #e8e8e8;
}

table th, td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

tr:hover {background-color: #f9f9f9;}

.load-more-btn {
	background-color: white;
	height: 35px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid #3167C2;
	border-radius: 4px;
	color: #3167C2;
}

.reward-table-img {
	height: 20px;
}

.table-head {
	background-color: #F3F3F3;
}

.load-more-btn:hover {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	border: none;
}

.pending-status {
	background-color: #FFA200;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.pledged-status {
	background-color: #479BFD;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.completed-status {
	background-color: #05AA25;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.failed-status {
	background-color: #FF5252;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.refunded-status {
	background-color: #05AA25;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.pre-sale-status {
	background-color: #05AA25;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.upcoming-status {
	background-color: #479BFD;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.ended-status {
	background-color: #AAAAAA;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.pending-status {
	background-color: #FFA200;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.rejected-status {
	background-color: #FF5252;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.public-sale-status {
	background-color: #05AA25;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.listed-status {
	background-color: #05AA25;
	border-radius: 90px;
	height: 27px;
	color: white;
}

.reward-point-circle {
	border: 10px solid #3167C2;
	border-radius: 300px;
	height: 200px;
	width: 200px;
	text-align: center;
	margin: auto;
}

.point-unit {
	margin-top: -16px;
}

.setting-box {
	border-radius: 7px;
	box-shadow: 0px 3px 12px #E2EAF2;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-bottom: 15px;
	color: #3167C2;
}

.setting-box:hover {
	background-image: linear-gradient(to right, #3149AB, #479BFD);
	color: white;
	text-decoration: none;
}

.setting-icon {
	height: 40px;
}

.passport-box {
	border: dashed 1px #ddd;
	border-radius: 10px;
	height: 120px;
	width: 120px;
	text-align: center;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

.submit-code {
	text-align: center;
	padding-top: 80px;
}

.input-code {
	height: 38px;
	width: 38px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 20px;
	text-align: center;
	color: #333;
}

.setting-notification-title {
	font-weight: bold;
	height: 45px;
	background-color: #F3F3F3;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.security-box {
	border: 1px solid #e8e8e8;
}

.security-box:hover {
	background-color: #f3f3f3;
}


.dashboard-box {
	background-color: white;
	border-radius: 10px;
	height: 100%;
}

.slider-img {
	border: 1px solid #e8e8e8;
	border-radius: 200px;
	height: 70px;
}

.copy-box {
	background-color: #f3f3f3;
	height: 40px;
	border-radius: 5px;
}

.milestone_order {
	height: 36px;
	width: 36px;
	border: 1px solid #3167C2;
	border-radius: 300px;
}


.milestone_box {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #ddd;
	border-radius: 7px;
}

.login-social {
	width: 45px;
	height: 45px;
	border-radius: 300px;
	border: 1px solid #ddd;
	margin-left: 20px;
	margin-right: 20px;
}


.login-social:hover {
	border: 1px solid #f3f3f3;
}

.sort-by {
	background-color: #f3f3f3;
}

.search-project {
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	width: 100%;
	padding-top: 13px;
	padding-bottom: 12px;
}

.all-project-box {
	border-radius: 7px;
	border: 1px solid #e8e8e8;
}

.team-img {
	max-height: 170px;
	max-width: 170px;
	border-radius: 300px;
	overflow: hidden;
	transition: 0.3s;
}

.team-img:hover {
	transform: scale(1.1);
}

img {
	max-width: 100%;
}

.team-info {
	position: relative;
	bottom: 16px;
}

.team-linkedin {
	width: 30px;
	height: 30px;
	border-radius: 100px;
	display: inline-block;
	background: #ddd;
	font-size: 15px;
	transition: 0.3s;
	padding-top: 3px;
}

.team-linkedin:hover {
	background-color: #222;
	color: white;
}

.team-name {
	font-size: 17px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 0px;
}

.team-title {
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 12px;
}

.milestone-order {
	width: 35px;
	height: 35px;
	background-color: #eee;
	border-radius: 100px;
}








